flow.json
[{"id":"8b3bae033d97810b","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"18e05a006375f7ab","type":"change","z":"8b3bae033d97810b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{     \"relay\": 0,     \"turn\": \"on\" }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":80,"wires":[["1d9012966f6ff048"]]},{"id":"e4a7ddda166615ec","type":"change","z":"8b3bae033d97810b","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{     \"relay\": 0,     \"turn\": \"off\" }","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":160,"wires":[["1d9012966f6ff048"]]},{"id":"41896488bd7ebac2","type":"switch","z":"8b3bae033d97810b","name":"Check state","property":"payload.relays[0].ison","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":120,"wires":[["18e05a006375f7ab"],["e4a7ddda166615ec"]]},{"id":"0a44bf95b64417eb","type":"function","z":"8b3bae033d97810b","name":"Process State","func":"var state = msg.payload;\n\n// If power has been restored, use the last known state\nif (state == \"offline\") {\n    state = flow.get(\"lastKnownState\");\n}\n\n// Store the current state for future use\nflow.set(\"lastKnownState\", state);\n\n// Forward the current state\nmsg.payload = state;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":120,"wires":[[]]},{"id":"58c02741bf2d3eed","type":"shelly-gen1","z":"8b3bae033d97810b","hostname":"10.0.0.147","description":"Switch1","mode":"callback","server":"13f49297d9252105","outputmode":"status","uploadretryinterval":5000,"pollinginterval":5000,"pollstatus":false,"getstatusoncommand":true,"devicetype":"Relay","outputs":1,"credentials":{},"x":240,"y":120,"wires":[["41896488bd7ebac2"]]},{"id":"1d9012966f6ff048","type":"shelly-gen1","z":"8b3bae033d97810b","hostname":"10.0.0.191","description":"Light","mode":"callback","server":"9e509280b5d786a6","outputmode":"status","uploadretryinterval":5000,"pollinginterval":5000,"pollstatus":false,"getstatusoncommand":true,"devicetype":"Relay","outputs":1,"x":870,"y":120,"wires":[["0a44bf95b64417eb"]]},{"id":"13f49297d9252105","type":"shelly-gen1-server","port":"443","hostname":"","hostip":""},{"id":"9e509280b5d786a6","type":"shelly-gen1-server","port":"443","hostname":"","hostip":""}]
